#page-report-editdates-index #activitytypeform {
    margin-bottom: 1em;
}

#page-report-editdates-index div[id^="fitem_id_moddivider"] {
    margin-bottom: 30px;
}

#page-report-editdates-index .editdates_highlight {
    background: #d9edf7;
    border-radius: 5px;
    color: black;
    padding: 10px;
    position: relative;
    top: 10px;
}
