#page-report-editdates-index #activitytypeform {
    margin-bottom: 1em;
}

#page-report-editdates-index div[id^="fitem_id_moddivider"] {
    margin-bottom: 30px;
}

#page-report-editdates-index .editdates_highlight {
    background: #d9edf7;
    border-radius: 5px;
    color: black;
    padding: 10px;
    position: relative;
    top: 10px;
}

.page-report-editdates {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    background: green;
    color: white;
}

.page-report-editdates.hideme {
    -moz-animation: hideAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: hideAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: hideAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: hideAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    to {
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes hideAnimation {
    to {
        width: 0;
        height: 0;
        padding: 0;
        visibility: hidden;
    }
}

.page-report-editdates.failed {
    background: orange;
    color: black;
}